contact.json
{
  "name": "contact",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        420
      ],
      "id": "77bbd057-ce40-4fb1-909c-f3a32121c047",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jbrHeu6ZZCch9E9B",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appe5DMlqftZWacRE",
          "mode": "list",
          "cachedResultName": "Test base",
          "cachedResultUrl": "https://airtable.com/appe5DMlqftZWacRE"
        },
        "table": {
          "__rl": true,
          "value": "tblPXWQqdPVMGcLVf",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appe5DMlqftZWacRE/tblPXWQqdPVMGcLVf"
        },
        "options": {
          "view": {
            "__rl": true,
            "value": "viwUUWcvXbvtPlDOK",
            "mode": "list",
            "cachedResultName": "Grid view",
            "cachedResultUrl": "https://airtable.com/appe5DMlqftZWacRE/tblPXWQqdPVMGcLVf/viwUUWcvXbvtPlDOK"
          }
        }
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        640,
        480
      ],
      "id": "53c072c4-4847-4f53-b504-798dc2568e96",
      "name": "Get Contacts",
      "credentials": {
        "airtableTokenApi": {
          "id": "SySFBMwHLuzSQgHG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appe5DMlqftZWacRE",
          "mode": "list",
          "cachedResultName": "Test base",
          "cachedResultUrl": "https://airtable.com/appe5DMlqftZWacRE"
        },
        "table": {
          "__rl": true,
          "value": "tblPXWQqdPVMGcLVf",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appe5DMlqftZWacRE/tblPXWQqdPVMGcLVf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $fromAI(\"FirstName\") }}",
            "Last Name ": "={{ $fromAI(\"LastName\") }}",
            "Mobile": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mobile', ``, 'string') }}",
            "E-mail": "={{ $fromAI(\"E-mail\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name ",
              "displayName": "Last Name ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1020,
        480
      ],
      "id": "43fc24d5-129b-45da-9249-1881103af820",
      "name": "Add or Update Contact",
      "credentials": {
        "airtableTokenApi": {
          "id": "SySFBMwHLuzSQgHG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\n**Contact Management**  \n   - Use \"Get Contacts\" to retrieve contact information. \n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. \nPhone number is not required if contact does not have number you should provide a space  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        640,
        20
      ],
      "id": "1bb69a14-9775-42b1-bf63-a93bf69bb328",
      "name": "Contact Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        0
      ],
      "id": "687788d0-c980-4a5d-9a33-84979f7a5fb1",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        220
      ],
      "id": "14b2492f-3a3a-4e61-8aa0-75a39fb5a3cc",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "caca44f1-ffe6-449e-b7fe-aa087b689ea8",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add or Update Contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Contact Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8f31e506-cfc0-4af8-b1b0-85b930f88cde",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9119dd5093a9a852a4b84bfd051e4af1375db36fcf05ecbc5ef03ec0d82d674c"
  },
  "id": "dnJcPK0gt6DbG9JN",
  "tags": []
}